fieldset {
    border: none;
}

label {
    @extend .label;
}

input.text {
    @extend .input;
}

input.action {
    @extend .button;
}

p.align-vertical-center {
    img,
    span {
        vertical-align: middle;
    }
}

.is {
    &-maxheight {
        height: 100%;
    }

    &-absolute {
        position: absolute !important;
    }

    &-relative {
        position: relative !important;
    }
    &-marginless {
        &-vertical {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        &-top {
            margin-top: 0 !important;
        }

        &-bottom {
            margin-bottom: 0 !important;
        }
    }

    &-paddingless {
        &-vertical {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        &-top {
            padding-top: 0 !important;
        }

        &-bottom {
            padding-bottom: 0 !important;
        }
    }
}

.icon {
    width: auto;
}

.columns {
    &.vertical-centre,
    &.vertical-centred,
    &.vertical-centered,
    &.vertical-center {
        @include align-items(center);
    }

    &.vertical-top {
        @include align-items(flex-start);
    }

    &.vertical-bottom {
        @include align-items(flex-end);
    }
}

.column {
    &.is-auto-width {
        width: auto;
        @include flex(none);
    }

    &.is-narrow {
        @include mobile {
            width: auto;
            @include flex(none);
        }
    }
}

.text-centered {
    @extend .has-text-centered;
}

div.field.textarea {
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    padding: inherit;
    position: relative;
    vertical-align: top;
    background-color: transparent;
    border: none;
    color: inherit;
    box-shadow: none;
    font-size: inherit;
    height: auto;
    border-radius: 0;
}

.is-overlay {
    &.fixed {
        position: fixed;
    }
}

.has {
    &-2-column {
        @include column-count(2);
        @include column-gap(2em);
        @include mobile {
            @include column-count(1);
        }
    }
}
