.account-types-holder {
    h3 {
        font-size: 14px;
        color: $grey;
        margin-bottom: 10px;
        font-weight: normal;
    }
}

.account-types {
    padding-left: 0;
    li {
        text-align: left;
        width: 100%;
        height: auto;
        list-style: none;
        padding-left: 40px;
        font-size: 20px;
        line-height: 1.4;
        text-indent: 0;
        position: relative;
        cursor: pointer;
        margin-bottom: 30px;
        &:before {
            @extend .fa;
            @extend .fa-square-o;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 24px;
            margin-top: 3px;
        }

        &.checked {
            @extend .fa-check-square-o;
            font-size: 20px;
            line-height: 1.4;
            text-indent: 0;
            &:before {
                font-size: 24px;
                margin-top: 3px;
            }
        }

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
        }
    }
}

.already {
    margin-bottom: 40px;
    .account-types {
        li {
            cursor: default;
        }
    }
}

.detailed-account-types {
    li {
        margin-right: 1.5em;
        font-size: 16px;
        line-height: 1.4;
        text-indent: 0;
        position: relative;
        &:before {
            margin-right: 0.25em;
            font-size: 16px;
        }
        h4 {
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
        }
    }
}
