#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    height: $header-height;
    background-color: $green;
    padding: 15px 12px;
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    @include transition(height 0.3s);
    @include mobile {
        height: 80px;
    }
    #logo {
        color: #fff;

        span {
            display: inline-block;
            vertical-align: middle;
        }

        .logo-image {
            @include retina-sprite(logo_mini, spritesheet, $dimensions: true, $nonRetina: true);
            overflow: hidden;
            text-indent: -9999px;
            margin-right: 0.25em;
        }

        @include mobile {
            display: none;
        }
    }

    #mid-logo {
        opacity: 1;
        visibility: visible;
        @include transition(all 0.15s);
        @include retina-sprite(logo_blue, spritesheet, $dimensions: true);
        @include mobile {
            @include transform(scale(0.6));
            @include transform-origin(0, center);
        }
    }

    .short-header & {
        height: $short-header-height;
        #mid-logo {
            visibility: hidden;
            opacity: 0;
        }

        @include mobile {
            height: 40px;
            #mid-logo {
                display: none;
            }

            #logo {
                display: block;
                span {
                    display: none;
                    &.logo-image {
                        display: block;
                    }
                }
            }
        }
    }

    #top_side_menu {
        a {
            color: #fff;
            font-size: 18px;
            line-height: 30px;
            .icon {
                font-size: 18px;
                line-height: 30px;
                margin-right: 0.5em;
            }

            @include mobile {
                span {
                    display: none;
                    &.icon {
                        display: inline-block;
                        margin-right: 0;
                    }
                }
            }

        }
    }
}
