#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    height: 60px;
    background-color: $green;
    padding: 15px 40px;
    @include display-flex;
    @include justify-content(space-between);
    #logo {
        color: #fff;

        span {
            display: inline-block;
            vertical-align: middle;
        }

        .logo-image {
            @include retina-sprite(logo_mini, spritesheet, $dimensions: true, $nonRetina: true);
            overflow: hidden;
            text-indent: -9999px;
            margin-right: 0.25em;
        }
    }

    #top_side_menu {
        a {
            color: #fff;
            font-size: 18px;
            line-height: 30px;
            .icon {
                font-size: 18px;
                line-height: 30px;
                margin-right: 0.5em;
            }
        }
    }
}
