.hero-region {
    position: relative;
    .page-type-error-page &,
    .page-home & {
        padding: 55px 0 125px;
        min-height: 40vh;
    }

    .page-type-error-page & {
        min-height: 25vh;
    }

    &#g-map-hero-wrapper {
        min-height: 20vh;
        background-color: #d7d7d7;
        &:before {
            content: '';
            display: block;
            @include retina-sprite(logo_white, spritesheet, $dimensions: true, $nonRetina: true);
            position: absolute;
            top: 50%;
            left: 60px;
            @include transform(translateY(-50%));
            z-index: 2;
        }

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(184, 232, 30, 0.3);
            z-index: 1;
        }
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    &__logo-full {
        @include retina-sprite(logo_full, spritesheet, $dimensions: true, $nonRetina: true);
        display: inline-block;
        overflow: hidden;
        text-indent: -9999px;
    }

    &__google-maps {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        .gmnoprint a,
        .gmnoprint span,
        .gm-style-cc {
            display:none;
        }
        .gmnoprint div {
            background:none !important;
        }
    }

    &__text-overlay {
        position: absolute;;
        z-index: 2;
        top: 64%;
        left: 0;
        width: 100%;
        max-width: none;
        @include transform(translateY(-50%));
    }
}
