.tiles {
    padding: 25px 0 45px;

    .page-propertylister & {
        padding-top: 0;
    }

    &.columns,
    &__tiles {
        @include flex-wrap(wrap);
    }

    &__title {
        color: #5e5e5e;
        font-size: 36px;
        font-weight: normal;
        margin: 0 0 10px;
    }
    @import 'tile';
}
