// /**
//  * @file styles.scss
//  *
//  * Main stylesheet.
//  * */
@import 'compass';

@import "font-awesome-compass";
@import "font-awesome";

$green: #b8e81e;
$turquoise: #001d58;
$grey-dark: #95a5a6;
$blue: #001d58;
$light: #d8d8d8;
$grey: #7f8184;
$header-height: 123px;
$short-header-height: 60px;

@import "bulma/bulma";
@import 'config/ss-shim',
        'config/sprite';
@include retina-sprite-add(spritesheet, 'sprites/*.png', 'retina_sprites/*.png');

@import 'blocks/cropperjs',
        'blocks/cropperjs-override',
        'blocks/header',
        'blocks/hero',
        'blocks/main',
        'blocks/lightbox',
        'blocks/docking-bay',
        'blocks/section',
        'blocks/mini-property-overview',
        'blocks/datetimepicker',
        'blocks/footer',
        'blocks/property-tile',
        'blocks/owl-carousel',
        'blocks/interest-list';

@import 'blocks/elements/breadcrumbs',
        'blocks/elements/switch-board';

html {
    background-color: #7f8184;
    font-size: 16px;
    &.locked {
        overflow: hidden;
    }
    body {
        font-size: 16px;
        font-family: "Lato", sans-serif;
        padding-top: $header-height;
        @include transition(padding-top 0.5s);
        &.short-header {
            padding-top: $short-header-height;
            @include transition-duration(0.2s);
        }

        @include mobile {
            font-size:14px;
            padding-top: 80px;
            &.short-header {
                padding-top: 40px;
            }
        }

        background-color: #7f8184;
        #main {
            background-color: white;
        }
        h1,h2,h3,h4,h5,h6 {
            &.is-bold {
                font-weight: bold;
            }
        }

        &.overlayed {
            &:after {
                content: '';
                display: block;
                @extend .is-overlay;
                z-index: 9996;
                background-color: rgba(255,255,255,0.8);
            }

            #header,
            #main,
            #footer {
                -webkit-filter: blur(5px);
            }
        }
    }
    header{
        h1 .title{
            @include mobile{
                font-size: 2rem;
            }
        }
    }
}

.fixy {
    @include mobile {
        @include transform(translateY(0) !important);
    }
}

.columns {
    &.space-between {
        @include justify-content(space-between);
    }

    &.vertical-center {
        @include align-items(center);
    }

    &.vertical-bottom {
        @include align-items(flex-end);
    }
}

.relative {
    position: relative;
}

.as-block {
    display: block;
}

.absolute {
    position: absolute;
}

.hide {
    display: none !important;
}

.is-uppercase {
    text-transform: uppercase;
}

.blue-button,
.inline-mini-button,
.button,
a.button:link,
a.button:visited {
	display: inline-block;
	border-radius: 5px;
	border: none;
	font-size: 22px;
	padding: 4px 66px;

	outline: none;
    height: auto;
	color: #fff;
	text-decoration: none;
	background-color: $blue;
	@include transition(all ease-in-out 0.25s);
	@include opacity(1);
    &:focus,
	&:hover {
        color: #fff;
		@include opacity(0.8);
	}

    &.outlined {
        background-color: transparent;
        border: 1px solid $blue;
        color: $blue;
        &:hover,
        &:focus {
            background-color: $blue;
            color: #fff;
            @include opacity(1);
        }
    }

    &.red {
        background-color: $red;
    }

    &.green {
        background-color: $green;
    }

    &.yellow {
        color: rgba(0, 0, 0, 0.7);
        background-color: $yellow;
    }

    &.inline {
        padding: 2px 1em 4px;
        font-size: 14px;
    }
}
