// /**
//  * @file styles.scss
//  *
//  * Main stylesheet.
//  * */
@import 'compass';

@import "font-awesome-compass";
@import "font-awesome";

$green: #b8e81e;
$turquoise: #001d58;
$grey-dark: #95a5a6;
$blue: #001d58;
$light: #d8d8d8;
$grey: #7f8184;

@import "bulma/bulma";
@import 'config/ss-shim',
        'config/sprite';
@include retina-sprite-add(spritesheet, 'sprites/*.png', 'retina_sprites/*.png');

@import 'blocks/cropperjs',
        'blocks/cropperjs-override',
        'blocks/header',
        'blocks/hero',
        'blocks/main',
        'blocks/docking-bay',
        'blocks/section',
        'blocks/datetimepicker',
        'blocks/footer',
        'blocks/property-tile',
        'blocks/owl-carousel';

html {
    background-color: #7f8184;
    font-size: 16px;
    body {
        font-size: 16px;
        font-family: "Lato", sans-serif;
        padding-top: 60px;
        background-color: #7f8184;
        #main {
            background-color: white;
        }
        h1,h2,h3,h4,h5,h6 {
            &.is-bold {
                font-weight: bold;
            }
        }
    }
}

.columns {
    .space-between {
        @include justify-content(space-between);
    }

    .vertical-bottom {
        @include align-items(flex-end);
    }
}

.relative {
    position: relative;
}

.as-block {
    display: block;
}

.absolute {
    position: absolute;
}

.hide {
    display: none !important;
}

.is-uppercase {
    text-transform: uppercase;
}

.blue-button,
.inline-mini-button,
.button,
a.button:link,
a.button:visited {
	display: inline-block;
	border-radius: 5px;
	border: none;
	font-size: 22px;
	padding: 4px 66px;
	outline: none;
    height: auto;
	color: #fff;
	text-decoration: none;
	background-color: $blue;
	@include transition(all ease-in-out 0.25s);
	@include opacity(1);
	&:hover {
        color: #fff;
		@include opacity(0.8);
	}

    &.red {
        background-color: $red;
    }

    &.green {
        background-color: $green;
    }

    &.inline {
        padding: 0 1em;
        font-size: 14px;
    }
}
