nav.breadcrumb {
    display: block;
    padding: 0 0.75rem 0.75rem;
    a, span {
        display: inline-block;
        font-style: italic;
        text-transform: capitalize;
    }

    a:after {
      padding: 0 5px;
      content: "/\00a0";
    }
}
