&__property-list {
    @include mobile {
        padding-top: 12px;
    }

    &__item {
        &__image {
            @include mobile {
                padding-right: 0;
                img {
                    width: 50px;
                }
            }
        }

        &__info {
            .type {
                display: inline-block;
                background-color: #001d58;
                color: #fff;
                font-size: 14px;
                padding: 0.25em 0.5em 0.4em;
                border-radius: 3px;
                margin-right: 0.25em;
                @include mobile {
                    font-size: 10px;
                }
            }

            .title {
                @include mobile {
                    &.is-5 {
                        font-size: 16px;
                    }

                    &.is-3 {
                        font-size: 24px;
                    }
                }
            }

            &__controls {
                .button {
                    padding: 0.25em 1em 0.35em;
                    margin-right: 0.5em;
                    @include mobile {
                        display: block;
                        margin-top: 6px;
                    }
                }
            }
        }

        &__actions {
            @include align-self(center);
            .button {
                font-size: 12px;
                padding: 2px 1em;
                @include mobile {
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    display: block;
                }
            }

            @include mobile {
                @include align-self(flex-start);
            }
        }
    }
}
