&__property-list {
    @include mobile {
        padding-top: 12px;
    }

    &__item {
        &__image {
            @include mobile {
                padding-right: 0;
                img {
                    width: 50px;
                }
            }
        }

        &__info {
            .type {
                display: inline-block;
                background-color: #001d58;
                color: #fff;
                font-size: 14px;
                padding: 0.25em 0.5em 0.4em;
                border-radius: 3px;
                margin-right: 0.25em;
                @include mobile {
                    font-size: 10px;
                }
            }

            .title {
                @include mobile {
                    &.is-5 {
                        font-size: 16px;
                    }

                    &.is-3 {
                        font-size: 24px;
                    }
                }
            }

            &__controls {
                .button {
                    padding: 0.25em 1em 0.35em;
                    margin-right: 0.5em;
                    @include mobile {
                        display: block;
                        margin-top: 6px;
                    }
                }

                .form-feedback-invitation {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    margin-top: 10px;
                    @include transition(all 0.3s);
                    max-width: 360px;
                    width: 100%;
                    @include mobile {
                        margin-top: 20px;
                    }

                    .field {
                        margin-bottom: 20px;
                        .select {
                            display: block;
                            select {
                                width: 100%;
                            }
                        }
                    }

                    // .invitee {
                    //     display: block;
                    //     width: 100%;
                    //     padding-right: 96px;
                    //     height: 32px;
                    // }
                    //
                    // .btn-invite {
                    //     position: absolute;
                    //     top: 0;
                    //     right: 0;
                    //     margin-right: 0;
                    //     height: 100%;
                    //     font-size: 16px;
                    //     border-top-left-radius: 0;
                    //     border-bottom-left-radius: 0;
                    //     @include mobile {
                    //         margin-top: 0;
                    //     }
                    // }
                }

                &.show-form {
                    // .btn {
                    //     &-listing,
                    //     &-delete {
                    //         display: none;
                    //     }
                    //
                    //     &-request-invitation {
                    //         margin-bottom: 10px;
                    //     }
                    // }

                    .form-feedback-invitation {
                        position: relative;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        &__actions {
            @include align-self(center);
            .button {
                font-size: 12px;
                padding: 2px 1em;
                @include mobile {
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    display: block;
                }
            }

            @include mobile {
                @include align-self(flex-start);
            }
        }
    }
}
