&__image-viewer {
    position: relative;
    padding-top: 56.6667%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    img {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

&__thumbnails {
    padding: 0 125px;
    &__thumbnail {
        display: block;
        width: 150px;
        height: 90px;
    }

    .owl-nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));
        div {
            top: 0;
            @include transform(translateY(-50%));
            position: absolute;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: $green;

            &.owl-prev,
            &.owl-next {
                width: 25px;
                height: 25px;
                overflow: hidden;
                text-indent: -9999px;
                &:before {
                    text-indent: 0;
                    display: block;
                }
            }

            &.owl-prev {
                // @extend .icon-arrow-left;
                @extend .icon;
                text-align: center;
                color: #fff;
                left: 75px;
                &:before {
                    @extend .fa;
                    @extend .fa-angle-left;
                    font-size: 20px;
                    line-height: 25px;
                }
            }

            &.owl-next {
                // @extend .icon-arrow-right;
                text-align: center;
                color: #fff;
                right: 75px;
                @extend .icon;
                &:before {
                    @extend .fa;
                    @extend .fa-angle-right;
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
    }
}
