.search-forms {
    position: relative;
    color: #5e5e5e;
    padding: 25px 0 45px;
    @include mobile {
        padding: 12px 0;
    }
    label.is-hidden-tablet.button{
        @include mobile{
            text-align: center;
            display: block;
            margin: 0 auto;
            width: calc(100% - 24px);
            }
        }
    .fake-tabs {
        margin: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: -85px;
        @include mobile{
            // display: none;
            position: static;
            margin: 25px 0 0;
            padding-left: 12px;
            padding-right: 12px;
        }
        @include justify-content(center);
        .tab-ish {
            width: auto;
            display: block;
            height: 60px;
            line-height: 60px;
            padding: 0 35px;
            font-size: 20px;
            background-color: #001d58;
            color: #fff;
            @include transition(all 0.25s);
            border-radius: 0.3125rem 0.3125rem 0 0;
            margin-right: 0.0625rem;
            border: 1px solid #fff;
            border-bottom: none;
            span {
                font-weight: bold;

            }

            &.active,
            &:hover,
            &:active,
            &:focus {
                background-color: #fff;
                color: #7f8184;
            }

            &:first-child {
                border-radius: 10px 5px 0 0;
            }

            &:last-child {
                border-radius: 5px 10px 0 0;
            }

            @include mobile {
                border-radius: 0 !important;
            }
        }
    }

    .form-description {
        margin-bottom: 25px;
    }

    .Fields {
        #div-left{
            @include mobile{
                padding:12px 12px 0 12px;
            }
        }
        #div-right{
            @include mobile{
                padding: 0 12px 12px 12px;
            }
        }
        .fields-wrapper {
            margin-bottom: 0;

            label.left,
            .label {
                margin-bottom: 0;
                opacity: 0.8;
                text-align: right;
                font-size: 20px;
                font-weight: normal;
                width: 30%;
                line-height: 40px;
                @include mobile{
                    width: 100%;
                    text-align: left;
                    font-size: 20px;

                    display: block;
                    line-height: 1rem;
                    padding: 20px 0 5px 14px;
                    margin: 0;

                }
            }

            &.bedroom,
            &.for-rent,
            &.bathroom,
            &.for-sale {
                div.columns-2{
                    @include mobile{
                        @include display-flex;
                        @include align-items(center);;

                    }
                    #padding-b-0{
                        @include mobile{
                            padding-bottom: 0 ;
                        }
                    }
                }
            }

            &.optionset {

                ul {
                    @extend .columns;
                    @include mobile{
                        @include display-flex;
                        margin-bottom: 10px;
                    }
                    li {
                        @extend .column;
                        @extend .is-auto-width;
                        @include flex(none);
                        .radio {
                            margin-right: 0.5em;
                        }
                        label {
                            text-align: left;
                            font-size: 20px;
                            font-weight: normal;
                            width: auto;
                            display: inline-block;
                            @include mobile{
                                padding-top: 0;
                            }
                        }
                    }
                }
            }

            .fields {

                .field {

                    .dropdown {
                        border: 1px solid #95989a;
                        height: 40px;
                        display: block;
                        width: 100%;
                        font-size: 16px;
                        padding: 0.5em;
                        border-radius: 5px;
                        outline: none;

                    }

                    .text {
                        border: 1px solid #95989a;
                        height: 40px;
                        border-radius: 5px;
                        outline: none;
                    }
                }
            }

            &.location {
                .fields {
                    .field {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .actions {
        margin-top: 30px;
        @include mobile {
            text-align: center;
        }
        .action {
            margin-left: 31%;
            @include mobile {
                margin-left: 0;
            }
        }
    }
}
