.footer {
    background-color: #7f8184;
    border-top: rem(10) solid $green;
    padding: rem(60) 0 rem(84);

    &__col {
        padding: 0 rem(10);
        width: 100%;
        max-width: rem(400);
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                font-size: rem(20);
                margin-bottom: rem(16);
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        &.social {
            ul {
                font-size: 0;
                li {
                    display: inline-block;
                    margin-right: rem(20);
                    margin-bottom: 0;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        &:before {
                            font-size: rem(32);
                        }
                    }
                }
            }
        }

        &__logo-holder {
            margin-bottom: rem(16);
            a {
                display: block;
                overflow: hidden;
                text-indent: rem(-9999);
                @include retina-sprite(logo_white, icons, $dimensions: true, $nonRetina: true);
            }
        }
    }
}
